body {
  margin: 0;
}

#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;
  /**************************************/
  /************* kv styles **************/
  /**************************************/
  /**************************************/
  /********** features styles ***********/
  /**************************************/
  /**************************************/
  /******* cross sell styles ************/
  /**************************************/
  /**************************************/
  /*********** footer styles ************/
  /**************************************/
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #745591;
  color: #FFFFFF;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #FFFFFF;
}
#es-rc #es-rc-content ::selection {
  background-color: #745591;
  color: #FFFFFF;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #FFFFFF;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-title {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  text-wrap: balance;
  background: linear-gradient(180deg, rgb(209, 170, 174) 0%, rgb(241, 226, 226) 50%, rgb(209, 170, 174) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#es-rc #es-rc-content .es-text-accent {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
#es-rc #es-rc-content .swiper,
#es-rc #es-rc-content .swiper-wrapper,
#es-rc #es-rc-content .swiper-slide {
  width: 100%;
  height: 100%;
}
#es-rc #es-rc-content .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #C69DA3;
  opacity: 50%;
}
#es-rc #es-rc-content .swiper-pagination-bullet:not(:last-child) {
  margin-right: 6px;
}
#es-rc #es-rc-content .swiper-pagination-bullet-active {
  opacity: 1;
  background: #C69DA3;
}
#es-rc #es-rc-content .swiper-button-next:after,
#es-rc #es-rc-content .swiper-button-prev:after {
  display: none;
}
#es-rc #es-rc-content .swiper-button-next img {
  transform: rotate(-180deg);
}
#es-rc #es-rc-content .es-kv__left {
  position: relative;
}
#es-rc #es-rc-content .es-kv__bg {
  width: 200%;
}
#es-rc #es-rc-content .es-kv__headline {
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  bottom: 5%;
  left: 50%;
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.9;
  width: -moz-max-content;
  width: max-content;
}
#es-rc #es-rc-content .es-kv__headline--top {
  font-weight: 500;
  font-size: 46px;
}
#es-rc #es-rc-content .es-kv__headline--bottom {
  font-weight: 600;
  font-size: 72px;
}
#es-rc #es-rc-content .es-kv__packshot {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#es-rc #es-rc-content .es-kv__packshot--bg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#es-rc #es-rc-content .es-kv__packshot--packCtn {
  position: absolute;
  width: 100%;
  height: 90%;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
#es-rc #es-rc-content .es-kv__packshot--logo {
  width: 100%;
  max-width: 300px;
}
#es-rc #es-rc-content .es-kv__packshot--pack {
  height: 75%;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-kv {
    display: flex;
    position: relative;
  }
  #es-rc #es-rc-content .es-kv__left {
    width: 55%;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    width: 40%;
    margin: 16px;
  }
}
#es-rc #es-rc-content .es-features {
  background: linear-gradient(180deg, rgb(6, 7, 12) 0%, rgb(72, 41, 96) 100%);
  color: #FFFFFF;
}
#es-rc #es-rc-content .es-features .swiper-slide {
  padding: 16px;
}
#es-rc #es-rc-content .es-features__slide1BA {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
}
#es-rc #es-rc-content .es-features__slide1bg {
  display: none;
}
#es-rc #es-rc-content .es-features__BACtn {
  position: relative;
}
#es-rc #es-rc-content .es-features__BA--text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000000;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
}
#es-rc #es-rc-content .es-features__BA--img img {
  width: 100%;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-features__slide1BA {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features .swiper-slide {
    padding: 16px 0 0 16px;
  }
  #es-rc #es-rc-content .es-features__slide1Ctn {
    display: flex;
    flex-direction: row;
  }
  #es-rc #es-rc-content .es-features__slide1bg {
    display: block;
  }
}
#es-rc #es-rc-content .es-cross {
  padding: 60px 16px;
  background: linear-gradient(180deg, rgb(6, 7, 12) 0%, rgb(72, 41, 96) 100%);
  color: #FFFFFF;
}
#es-rc #es-rc-content .es-cross__header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
#es-rc #es-rc-content .es-cross__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px 8px;
  margin-top: 32px;
}
#es-rc #es-rc-content .es-cross__single {
  max-width: 300px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#es-rc #es-rc-content .es-cross__single a {
  display: flex;
  justify-content: center;
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__img {
  transform: scale(1.05);
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__link {
  background-color: #000000;
  color: #D1AAAE;
  box-shadow: inset 0 0 0 2px #D1AAAE;
}
#es-rc #es-rc-content .es-cross__packshot {
  margin-bottom: 16px;
  padding-bottom: 16px;
  width: 80%;
}
#es-rc #es-rc-content .es-cross__img {
  max-height: 100%;
  transition: all 0.3s;
}
#es-rc #es-rc-content .es-cross__name {
  line-height: inherit;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
}
#es-rc #es-rc-content .es-cross__desc {
  text-align: center;
  font-size: 14px;
  margin-bottom: 32px;
}
#es-rc #es-rc-content .es-cross__link {
  margin: 0;
  line-height: inherit;
  font-size: 20px;
  background: #D1AAAE;
  color: #FFF;
  text-decoration: none;
  padding: 16px 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  display: inline-block;
  transition: color 0.3s;
  width: 100%;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-cross {
    position: relative;
  }
  #es-rc #es-rc-content .es-cross__container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 32px 8px;
    margin-top: 32px;
  }
  #es-rc #es-rc-content .es-cross__single {
    min-width: 230px;
    width: 30%;
  }
  #es-rc #es-rc-content .es-cross__desc {
    height: 7em;
  }
}
#es-rc #es-rc-content .es-footer {
  background-color: #000000;
  padding: 24px;
}/*# sourceMappingURL=styles.css.map */