@charset "UTF-8";

$ff-regular: 'Montserrat', sans-serif;
$ff-accent: 'Barlow Condensed', sans-serif;
$color-main: #C0ACC7;
$color-secondary: #E8E1E9;
$color-accent: #D1AAAE;
$color-black: #000000;
$color-white: #FFFFFF;

$gradient: linear-gradient(180deg, rgba(6, 7, 12, 1) 0%, rgba(72, 41, 96, 1) 100%);
$gradient2: linear-gradient(180deg, rgba(72, 41, 96, 1) 0%, rgba(3, 6, 10, 1) 100%);
$text-gradient: linear-gradient(180deg, rgba(209, 170, 174, 1) 0%, rgba(241, 226, 226, 1) 50%, rgba(209, 170, 174, 1) 100%);

body {
    margin: 0;
}

#es-rc #es-rc-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: #000;
    background: #fff;

    ::selection {
        background-color: #745591;
        color: $color-white;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: $color-white;
    }

    * {
        box-sizing: border-box;
    }

    p {
        margin: 0;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .es-title {
        text-transform: uppercase;
        font-family: $ff-accent;
        text-align: center;
        font-size: 34px;
        font-weight: 500;
        text-wrap: balance;
        background: $text-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &--bold {
            font-weight: 700;
        }
    }

    .es-text-accent {
        font-family: $ff-accent;
        text-transform: uppercase;
    }

    .swiper,
    .swiper-wrapper,
    .swiper-slide {
        width: 100%;
        height: auto;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        background: #C69DA3;
        opacity: 50%;
    }

    .swiper-pagination-bullet:not(:last-child) {
        margin-right: 6px;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #C69DA3;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }

    .swiper-button-next img {
        transform: rotate(-180deg)
    }

    @keyframes zoom {
        0% {
            scale: 1;
        }

        100% {
            scale: 1.2;
        }
    }

    /**************************************/
    /************* kv styles **************/
    /**************************************/

    .es-kv {
        &__left {
            position: relative;
        }

        &__bg {
            width: 200%;
        }

        &__headline {
            position: absolute;
            z-index: 1;
            transform: translateX(-50%);
            bottom: 5%;
            left: 50%;

            color: $color-white;
            font-family: $ff-accent;
            text-transform: uppercase;
            text-align: center;
            line-height: 0.9;
            width: max-content;

            &--top {
                font-weight: 500;
                font-size: 46px;
            }

            &--bottom {
                font-weight: 600;
                font-size: 72px;
            }
        }

        &__packshot {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &--bg {
                width: 100%;
                object-fit: cover;
            }

            &--packCtn {
                position: absolute;
                width: 100%;
                height: 90%;
                padding: 24px 32px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 24px;
            }

            &--logo {
                width: 100%;
                max-width: 300px;
            }

            &--pack {
                height: 75%;
                transition: all 200ms ease-in-out;
            }

            &--pack:hover {
                scale: 1.1;
            }
        }
    }

    @media (min-width: 576px) {
        .es-kv {
            display: flex;
            position: relative;

            &__left {
                width: 55%;
            }

            &__packshot {
                width: 40%;
                margin: 16px;
            }
        }
    }

    /**************************************/
    /********** features styles ***********/
    /**************************************/

    .es-features {
        background: $gradient;
        color: $color-white;

        .swiper-slide {
            padding: 16px;
        }

        &__slide1BA {
            display: flex;
            flex-direction: column;
            padding: 24px;
            gap: 12px;
        }

        &__slide1bg {
            display: none;
        }

        &__BACtn {
            position: relative;
        }

        &__BA--text {
            position: absolute;
            top: 10px;
            left: 10px;
            color: $color-black;
            font-family: $ff-accent;
            font-weight: 500;
            font-size: 24px;
            line-height: 1;
            z-index: 1;
        }

        &__BA--img {
            overflow: hidden;
        }

        &__BA--img img {
            width: 100%;
            transition: all 200ms ease-in-out;
        }

        &__BA--img img:hover {
            scale: 1.1;
        }

        &__slideCtn {
            .es-title {
                font-size: 44px;
            }

            .es-features__BA--text {
                color: $color-white;
            }

            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 32px;
        }

        &__slide2BA {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    @media (min-width: 576px) {
        .es-features {
            &__slide1BA {
                flex-direction: row;
            }

            &__slideCtn {
                flex-direction: row-reverse;
                align-items: center;

                .es-title {
                    line-height: 1;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .es-features {
            .swiper-slide {
                padding: 0;
            }

            &__slide1Ctn {
                display: flex;
                flex-direction: row;
            }

            &__slide1--left {
                width: 66%;
                display: flex;
                flex-direction: column;
                gap: 32px;
                padding: 32px;
            }

            &__slide1bg {
                display: block;
                position: absolute;
                z-index: 1;
                bottom: 0;
                right: 0;
                max-width: 50%;
            }

            &__slide1BA {
                padding-left: 32px;
                padding-right: 0;
            }

            &__slideCtn {
                padding: 64px;
            }
        }
    }

    @media (min-width: 880px) {
        .es-features__slideCtn .es-title {
            font-size: 50px;
        }
    }

    /**************************************/
    /******** brush img styles ************/
    /**************************************/

    .es-line {
        height: 4px;
        background-color: $color-accent;
    }

    .es-brush {
        background: $gradient;

        &__top,
        &__bottom {
            padding: 16px;
        }

    }

    @media (min-width: 576px) {
        .es-brush {
            &__bg {
                position: relative;
                z-index: 0;
                overflow: hidden;
            }

            &__bg--img {
                animation: zoom 5s infinite alternate;
            }

            &__top,
            &__bottom {
                padding: 0;
            }

            &__top {
                position: absolute;
                top: 3%;
                left: 3%;
                width: 300px;
                z-index: 1;
            }

            &__bottom {
                position: absolute;
                bottom: 3%;
                right: 3%;
                width: 250px;
                z-index: 1;
            }
        }
    }

    @media (min-width: 768px) {
        .es-brush {
            &__top {
                top: 10%;
            }

            &__bottom {
                bottom: 10%;
            }
        }
    }

    /**************************************/
    /*********** colors styles ************/
    /**************************************/

    .es-colors {
        background: $gradient2;
        padding: 16px;

        &__img {
            margin-bottom: 32px;
        }

        .es-color {
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            &__name {
                color: #FFF1F1;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                font-size: 24px;
            }

            &__BA {
                display: flex;
                flex-direction: column;
                gap: 16px;
                overflow: hidden;
            }

            &__BA img {
                width: 100%;
                transition: all 200ms ease-in-out;
            }

            &__BA img:hover {
                scale: 1.1;
            }

            &__after,
            &__before {
                position: relative;
            }

            &__BA--text {
                position: absolute;
                bottom: 8px;
                left: 8px;
            }
        }

        .swiper2 {
            padding-inline: 16px;
            padding-block: 32px;
        }

        .es-color--1 {
            background-color: #191813;
        }

        .es-color--2 {
            background-color: #090A08;
        }

        .es-color--3 {
            background-color: #2A1E1C;
        }

        .es-color--4 .es-color__name {
            color: #020202;
        }

        .es-color--5 {
            background-color: #122011;
        }

        .es-color--6 {
            background-color: #2C0021;
        }

        .es-color--7 {
            background-color: #2B2BB5;
        }

        .es-color--8 {
            background-color: #C1548C;
        }

        .es-color--9 {
            background-color: #641A42;
        }
    }

    @media (min-width: 364px) {
        .es-colors {
            padding: 24px;

            &__img {
                position: relative;
            }

            .es-title {
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                right: 2%;
                width: 50%;
            }

        }
    }

    @media (min-width: 576px) {
        .es-colors {
            padding: 32px;
        }

        .es-colors .es-title--bold {
            font-size: 44px;
        }

        .es-color__name {
            height: 60px;
            vertical-align: middle;
        }
    }

    @media (min-width: 768px) {
        .es-colors {
            padding: 48px;
        }

        .es-colors .es-title--bold {
            font-size: 56px;
        }
    }

    /**************************************/
    /********* explore sell styles ********/
    /**************************************/

    .es-explore {
        background-color: #08080f3f;
        background-blend-mode: overlay;

        .es-title {
            padding-block: 32px;
        }

        &__cross {
            margin-top: 32px;
        }

        &__colorsWrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;
            justify-content: center;
            align-items: center;
            padding: 16px;
        }

        &__single {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 16px;
            width: 80%;
            overflow: hidden;
        }

        &__singleImg {
            width: 100%;
            overflow: hidden;
            transition: all 300ms ease-in-out;
        }

        &__singleImg img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: all 300ms ease-in-out;
        }

        &__singleImg img:hover {
            scale: 1.05;
        }

        &__name {
            color: $color-white;
            font-family: $ff-accent;
            font-weight: 700;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        &__desc {
            color: $color-white;
        }

        &__crossWrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;
            justify-content: center;
            align-items: center;
            padding: 16px;

            .es-explore__single {
                overflow: unset;
            }

            .es-explore__singleImg {
                overflow: unset;
                height: 100%;
            }

            .es-explore__name {
                margin-top: 24px;
            }
        }

        &__single:hover {
            .es-explore__singleImg {
                transform: scale(1.05);
            }

            .es-cross__link {
                background-color: $color-black;
                color: $color-accent;
                box-shadow: inset 0 0 0 2px $color-accent;
            }
        }

        .es-gradient {
            background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, rgba(9, 9, 16, 1) 100%);
            height: 100px;
        }
    }

    @media (min-width: 576px) {

        .es-explore__colorsWrapper {
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 8px;
            padding: 24px;
        }

        .es-explore__single {
            width: 45%;
        }

        .es-explore__cross .es-title {
            margin-bottom: 64px;
        }

        .es-explore__crossWrapper {
            flex-direction: row;
            gap: 8px;
            align-items: flex-start;
            padding-inline: 24px;
        }

        .es-explore__crossWrapper .es-explore__single {
            width: 33%;
            display: grid;
            grid-template-rows: 150px 80px 80px auto;
            align-items: start;
        }
    }

    @media (min-width: 768px) {

        .es-explore__colorsWrapper {
            padding: 32px;
        }

        .es-explore__single {
            width: 23%;
        }

        .es-explore__crossWrapper {
            padding-inline: 32px;
        }

        .es-explore__crossWrapper .es-explore__single {
            grid-template-rows: 150px 80px 80px auto;
        }

        .es-divider-line {
            width: 2px;
            height: 250px;
            background: $text-gradient;
        }
    }

    /**************************************/
    /******* cross sell styles ************/
    /**************************************/

    .es-cross {
        padding: 60px 16px;
        background: $gradient;
        color: $color-white;

        &__header {
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px 8px;
            margin-top: 32px;
        }

        &__single {
            max-width: 300px;
            display: flex;
            align-items: center;
            flex-flow: column;

            a {
                display: flex;
                justify-content: center;
            }
        }

        &__single:hover {
            .es-cross__img {
                transform: scale(1.05);
            }

            .es-cross__link {
                background-color: $color-black;
                color: $color-accent;
                box-shadow: inset 0 0 0 2px $color-accent;
            }
        }

        &__packshot {
            margin-bottom: 16px;
            padding-bottom: 16px;
            width: 80%;
        }

        &__img {
            max-height: 100%;
            transition: all 0.3s;
        }

        &__name {
            line-height: inherit;
            font-size: 24px;
            text-transform: uppercase;
            font-family: $ff-accent;
            text-align: center;
            margin-bottom: 8px;
            font-weight: 400;
        }

        &__desc {
            text-align: center;
            font-size: 14px;
            margin-bottom: 32px;
        }

        &__link {
            margin: 0;
            line-height: inherit;
            font-size: 20px;
            background: $color-accent;
            color: #FFF;
            text-decoration: none;
            padding: 16px 40px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: $ff-accent;
            text-align: center;
            display: inline-block;
            transition: color 0.3s;
            width: 100%;
        }


    }

    @media (min-width: 768px) {
        .es-cross {
            position: relative;

            &__container {
                flex-direction: row;
                justify-content: center;
                align-items: flex-end;
                gap: 32px 8px;
                margin-top: 32px;
            }

            &__single {
                min-width: 230px;
                width: 30%;
            }

            &__desc {
                height: 7em;
            }
        }
    }


    /**************************************/
    /*********** footer styles ************/
    /**************************************/
    .es-footer {
        background-color: $color-black;
        padding: 24px;
    }
}