body {
  margin: 0;
}

#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;
  /**************************************/
  /************* kv styles **************/
  /**************************************/
  /**************************************/
  /********** features styles ***********/
  /**************************************/
  /**************************************/
  /******** brush img styles ************/
  /**************************************/
  /**************************************/
  /*********** colors styles ************/
  /**************************************/
  /**************************************/
  /********* explore sell styles ********/
  /**************************************/
  /**************************************/
  /******* cross sell styles ************/
  /**************************************/
  /**************************************/
  /*********** footer styles ************/
  /**************************************/
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #745591;
  color: #FFFFFF;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #FFFFFF;
}
#es-rc #es-rc-content ::selection {
  background-color: #745591;
  color: #FFFFFF;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #FFFFFF;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-title {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  text-wrap: balance;
  background: linear-gradient(180deg, rgb(209, 170, 174) 0%, rgb(241, 226, 226) 50%, rgb(209, 170, 174) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#es-rc #es-rc-content .es-title--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-text-accent {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
#es-rc #es-rc-content .swiper,
#es-rc #es-rc-content .swiper-wrapper,
#es-rc #es-rc-content .swiper-slide {
  width: 100%;
  height: auto;
}
#es-rc #es-rc-content .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #C69DA3;
  opacity: 50%;
}
#es-rc #es-rc-content .swiper-pagination-bullet:not(:last-child) {
  margin-right: 6px;
}
#es-rc #es-rc-content .swiper-pagination-bullet-active {
  opacity: 1;
  background: #C69DA3;
}
#es-rc #es-rc-content .swiper-button-next:after,
#es-rc #es-rc-content .swiper-button-prev:after {
  display: none;
}
#es-rc #es-rc-content .swiper-button-next img {
  transform: rotate(-180deg);
}
@keyframes zoom {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.2;
  }
}
#es-rc #es-rc-content .es-kv__left {
  position: relative;
}
#es-rc #es-rc-content .es-kv__bg {
  width: 200%;
}
#es-rc #es-rc-content .es-kv__headline {
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  bottom: 5%;
  left: 50%;
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.9;
  width: -moz-max-content;
  width: max-content;
}
#es-rc #es-rc-content .es-kv__headline--top {
  font-weight: 500;
  font-size: 46px;
}
#es-rc #es-rc-content .es-kv__headline--bottom {
  font-weight: 600;
  font-size: 72px;
}
#es-rc #es-rc-content .es-kv__packshot {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#es-rc #es-rc-content .es-kv__packshot--bg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#es-rc #es-rc-content .es-kv__packshot--packCtn {
  position: absolute;
  width: 100%;
  height: 90%;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
#es-rc #es-rc-content .es-kv__packshot--logo {
  width: 100%;
  max-width: 300px;
}
#es-rc #es-rc-content .es-kv__packshot--pack {
  height: 75%;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-kv__packshot--pack:hover {
  scale: 1.1;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-kv {
    display: flex;
    position: relative;
  }
  #es-rc #es-rc-content .es-kv__left {
    width: 55%;
  }
  #es-rc #es-rc-content .es-kv__packshot {
    width: 40%;
    margin: 16px;
  }
}
#es-rc #es-rc-content .es-features {
  background: linear-gradient(180deg, rgb(6, 7, 12) 0%, rgb(72, 41, 96) 100%);
  color: #FFFFFF;
}
#es-rc #es-rc-content .es-features .swiper-slide {
  padding: 16px;
}
#es-rc #es-rc-content .es-features__slide1BA {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
}
#es-rc #es-rc-content .es-features__slide1bg {
  display: none;
}
#es-rc #es-rc-content .es-features__BACtn {
  position: relative;
}
#es-rc #es-rc-content .es-features__BA--text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000000;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  z-index: 1;
}
#es-rc #es-rc-content .es-features__BA--img {
  overflow: hidden;
}
#es-rc #es-rc-content .es-features__BA--img img {
  width: 100%;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-features__BA--img img:hover {
  scale: 1.1;
}
#es-rc #es-rc-content .es-features__slideCtn {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}
#es-rc #es-rc-content .es-features__slideCtn .es-title {
  font-size: 44px;
}
#es-rc #es-rc-content .es-features__slideCtn .es-features__BA--text {
  color: #FFFFFF;
}
#es-rc #es-rc-content .es-features__slide2BA {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-features__slide1BA {
    flex-direction: row;
  }
  #es-rc #es-rc-content .es-features__slideCtn {
    flex-direction: row-reverse;
    align-items: center;
  }
  #es-rc #es-rc-content .es-features__slideCtn .es-title {
    line-height: 1;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features .swiper-slide {
    padding: 0;
  }
  #es-rc #es-rc-content .es-features__slide1Ctn {
    display: flex;
    flex-direction: row;
  }
  #es-rc #es-rc-content .es-features__slide1--left {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
  }
  #es-rc #es-rc-content .es-features__slide1bg {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    max-width: 50%;
  }
  #es-rc #es-rc-content .es-features__slide1BA {
    padding-left: 32px;
    padding-right: 0;
  }
  #es-rc #es-rc-content .es-features__slideCtn {
    padding: 64px;
  }
}
@media (min-width: 880px) {
  #es-rc #es-rc-content .es-features__slideCtn .es-title {
    font-size: 50px;
  }
}
#es-rc #es-rc-content .es-line {
  height: 4px;
  background-color: #D1AAAE;
}
#es-rc #es-rc-content .es-brush {
  background: linear-gradient(180deg, rgb(6, 7, 12) 0%, rgb(72, 41, 96) 100%);
}
#es-rc #es-rc-content .es-brush__top, #es-rc #es-rc-content .es-brush__bottom {
  padding: 16px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-brush__bg {
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  #es-rc #es-rc-content .es-brush__bg--img {
    animation: zoom 5s infinite alternate;
  }
  #es-rc #es-rc-content .es-brush__top, #es-rc #es-rc-content .es-brush__bottom {
    padding: 0;
  }
  #es-rc #es-rc-content .es-brush__top {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 300px;
    z-index: 1;
  }
  #es-rc #es-rc-content .es-brush__bottom {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 250px;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-brush__top {
    top: 10%;
  }
  #es-rc #es-rc-content .es-brush__bottom {
    bottom: 10%;
  }
}
#es-rc #es-rc-content .es-colors {
  background: linear-gradient(180deg, rgb(72, 41, 96) 0%, rgb(3, 6, 10) 100%);
  padding: 16px;
}
#es-rc #es-rc-content .es-colors__img {
  margin-bottom: 32px;
}
#es-rc #es-rc-content .es-colors .es-color {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#es-rc #es-rc-content .es-colors .es-color__name {
  color: #FFF1F1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}
#es-rc #es-rc-content .es-colors .es-color__BA {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}
#es-rc #es-rc-content .es-colors .es-color__BA img {
  width: 100%;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-colors .es-color__BA img:hover {
  scale: 1.1;
}
#es-rc #es-rc-content .es-colors .es-color__after, #es-rc #es-rc-content .es-colors .es-color__before {
  position: relative;
}
#es-rc #es-rc-content .es-colors .es-color__BA--text {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
#es-rc #es-rc-content .es-colors .swiper2 {
  padding-inline: 16px;
  padding-block: 32px;
}
#es-rc #es-rc-content .es-colors .es-color--1 {
  background-color: #191813;
}
#es-rc #es-rc-content .es-colors .es-color--2 {
  background-color: #090A08;
}
#es-rc #es-rc-content .es-colors .es-color--3 {
  background-color: #2A1E1C;
}
#es-rc #es-rc-content .es-colors .es-color--4 .es-color__name {
  color: #020202;
}
#es-rc #es-rc-content .es-colors .es-color--5 {
  background-color: #122011;
}
#es-rc #es-rc-content .es-colors .es-color--6 {
  background-color: #2C0021;
}
#es-rc #es-rc-content .es-colors .es-color--7 {
  background-color: #2B2BB5;
}
#es-rc #es-rc-content .es-colors .es-color--8 {
  background-color: #C1548C;
}
#es-rc #es-rc-content .es-colors .es-color--9 {
  background-color: #641A42;
}
@media (min-width: 364px) {
  #es-rc #es-rc-content .es-colors__img {
    position: relative;
  }
  #es-rc #es-rc-content .es-colors .es-title {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 2%;
    width: 50%;
  }
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-color__name {
    height: 60px;
    vertical-align: middle;
  }
}
#es-rc #es-rc-content .es-explore {
  background-color: rgba(8, 8, 15, 0.2470588235);
  background-blend-mode: overlay;
}
#es-rc #es-rc-content .es-explore .es-title {
  padding-block: 32px;
}
#es-rc #es-rc-content .es-explore__cross {
  margin-top: 32px;
}
#es-rc #es-rc-content .es-explore__colorsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
#es-rc #es-rc-content .es-explore__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  width: 80%;
  overflow: hidden;
}
#es-rc #es-rc-content .es-explore__singleImg {
  width: 100%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
#es-rc #es-rc-content .es-explore__singleImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 300ms ease-in-out;
}
#es-rc #es-rc-content .es-explore__singleImg img:hover {
  scale: 1.05;
}
#es-rc #es-rc-content .es-explore__name {
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#es-rc #es-rc-content .es-explore__desc {
  color: #FFFFFF;
}
#es-rc #es-rc-content .es-explore__crossWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
#es-rc #es-rc-content .es-explore__crossWrapper .es-explore__single {
  overflow: unset;
}
#es-rc #es-rc-content .es-explore__crossWrapper .es-explore__singleImg {
  overflow: unset;
  height: 100%;
}
#es-rc #es-rc-content .es-explore__crossWrapper .es-explore__name {
  margin-top: 24px;
}
#es-rc #es-rc-content .es-explore__single:hover .es-explore__singleImg {
  transform: scale(1.05);
}
#es-rc #es-rc-content .es-explore__single:hover .es-cross__link {
  background-color: #000000;
  color: #D1AAAE;
  box-shadow: inset 0 0 0 2px #D1AAAE;
}
#es-rc #es-rc-content .es-explore .es-gradient {
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, rgb(9, 9, 16) 100%);
  height: 100px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-explore__colorsWrapper {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    padding: 24px;
  }
  #es-rc #es-rc-content .es-explore__single {
    width: 45%;
  }
  #es-rc #es-rc-content .es-explore__cross .es-title {
    margin-bottom: 64px;
  }
  #es-rc #es-rc-content .es-explore__crossWrapper {
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    padding-inline: 24px;
  }
  #es-rc #es-rc-content .es-explore__crossWrapper .es-explore__single {
    width: 33%;
    display: grid;
    grid-template-rows: 150px 80px 80px auto;
    align-items: start;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-explore__colorsWrapper {
    padding: 32px;
  }
  #es-rc #es-rc-content .es-explore__single {
    width: 23%;
  }
  #es-rc #es-rc-content .es-explore__crossWrapper {
    padding-inline: 32px;
  }
  #es-rc #es-rc-content .es-explore__crossWrapper .es-explore__single {
    grid-template-rows: 150px 80px 80px auto;
  }
  #es-rc #es-rc-content .es-divider-line {
    width: 2px;
    height: 250px;
    background: linear-gradient(180deg, rgb(209, 170, 174) 0%, rgb(241, 226, 226) 50%, rgb(209, 170, 174) 100%);
  }
}
#es-rc #es-rc-content .es-cross {
  padding: 60px 16px;
  background: linear-gradient(180deg, rgb(6, 7, 12) 0%, rgb(72, 41, 96) 100%);
  color: #FFFFFF;
}
#es-rc #es-rc-content .es-cross__header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
#es-rc #es-rc-content .es-cross__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px 8px;
  margin-top: 32px;
}
#es-rc #es-rc-content .es-cross__single {
  max-width: 300px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#es-rc #es-rc-content .es-cross__single a {
  display: flex;
  justify-content: center;
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__img {
  transform: scale(1.05);
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__link {
  background-color: #000000;
  color: #D1AAAE;
  box-shadow: inset 0 0 0 2px #D1AAAE;
}
#es-rc #es-rc-content .es-cross__packshot {
  margin-bottom: 16px;
  padding-bottom: 16px;
  width: 80%;
}
#es-rc #es-rc-content .es-cross__img {
  max-height: 100%;
  transition: all 0.3s;
}
#es-rc #es-rc-content .es-cross__name {
  line-height: inherit;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
}
#es-rc #es-rc-content .es-cross__desc {
  text-align: center;
  font-size: 14px;
  margin-bottom: 32px;
}
#es-rc #es-rc-content .es-cross__link {
  margin: 0;
  line-height: inherit;
  font-size: 20px;
  background: #D1AAAE;
  color: #FFF;
  text-decoration: none;
  padding: 16px 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  display: inline-block;
  transition: color 0.3s;
  width: 100%;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-cross {
    position: relative;
  }
  #es-rc #es-rc-content .es-cross__container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 32px 8px;
    margin-top: 32px;
  }
  #es-rc #es-rc-content .es-cross__single {
    min-width: 230px;
    width: 30%;
  }
  #es-rc #es-rc-content .es-cross__desc {
    height: 7em;
  }
}
#es-rc #es-rc-content .es-footer {
  background-color: #000000;
  padding: 24px;
}/*# sourceMappingURL=styles.css.map */