#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;
  /**************************************/
  /************* kv styles **************/
  /**************************************/
  /**************************************/
  /******* available colors styles ******/
  /**************************************/
  /**************************************/
  /************ video styles ************/
  /**************************************/
  /**************************************/
  /******* cross sell styles ************/
  /**************************************/
  /**************************************/
  /*********** footer styles ************/
  /**************************************/
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #C0ACC7;
  color: #FFF;
}
#es-rc #es-rc-content ::selection {
  background-color: #C0ACC7;
  color: #FFF;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-title {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 34px;
}
#es-rc #es-rc-content .es-text-accent {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-available-colors {
  padding-bottom: 72px;
}
#es-rc #es-rc-content .es-available-colors * {
  color: #fff;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-available-colors__header {
  padding: 40px 20px 30px 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: -1px 1px 0 #C0ACC7, 1px 1px 0 #C0ACC7, 1px -1px 0 #C0ACC7, -1px -1px 0 #C0ACC7;
}
#es-rc #es-rc-content .es-available-colors__header strong {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3rem;
  color: #C0ACC7;
  text-shadow: none;
}
#es-rc #es-rc-content .es-available-colors .es-colors__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 32px 0px;
}
#es-rc #es-rc-content .es-available-colors .es-colors__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
  gap: 16px;
}
#es-rc #es-rc-content .es-available-colors .es-colors__single .es-colors__imgContainer img {
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-available-colors .es-colors__single:hover .es-colors__imgContainer img {
  scale: 1.1;
}
#es-rc #es-rc-content .es-available-colors .es-colors__single--text {
  background-color: #E8E1E9;
  padding-block: 16px;
  text-align: center;
  width: 100%;
}
#es-rc #es-rc-content .es-video {
  padding: 32px;
  background-color: #C0ACC7;
}
#es-rc #es-rc-content .es-video__video {
  max-width: 100%;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-video {
    padding: 64px;
  }
}
#es-rc #es-rc-content .es-cross {
  padding: 60px 16px;
  background-color: #E8E1E9;
}
#es-rc #es-rc-content .es-cross__header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
#es-rc #es-rc-content .es-cross__headline {
  color: #000000;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3rem;
}
#es-rc #es-rc-content .es-cross__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px 8px;
  margin-top: 32px;
}
#es-rc #es-rc-content .es-cross__single {
  max-width: 300px;
  display: flex;
  align-items: center;
  flex-flow: column;
  color: #000000;
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__img {
  transform: scale(1.05);
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__link {
  background-color: #FFF;
  color: #000;
  box-shadow: inset 0 0 0 2px #000;
}
#es-rc #es-rc-content .es-cross__packshot {
  margin-bottom: 16px;
  padding-bottom: 16px;
  width: 80%;
}
#es-rc #es-rc-content .es-cross__img {
  max-height: 100%;
  transition: all 0.3s;
}
#es-rc #es-rc-content .es-cross__name {
  line-height: inherit;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
}
#es-rc #es-rc-content .es-cross__desc {
  text-align: center;
  font-size: 14px;
  margin-bottom: 32px;
}
#es-rc #es-rc-content .es-cross__link {
  margin: 0;
  line-height: inherit;
  font-size: 20px;
  background: #000000;
  color: #FFF;
  text-decoration: none;
  padding: 16px 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  display: inline-block;
  transition: color 0.3s;
  width: 100%;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-cross {
    position: relative;
  }
  #es-rc #es-rc-content .es-cross__container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 32px 8px;
    margin-top: 32px;
  }
  #es-rc #es-rc-content .es-cross__single {
    min-width: 230px;
    width: 30%;
  }
  #es-rc #es-rc-content .es-cross__desc {
    height: 7em;
  }
}
#es-rc #es-rc-content .es-footer {
  background-color: #000000;
  padding: 24px;
}/*# sourceMappingURL=styles.css.map */